<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Register</title>
  </head>
  <body>
    <main>
      <div class="box">
        <h1>Sign Up</h1>
        
        <% if (typeof error !== 'undefined') { %>
            <article style="background-color: #ffe6e6; border: 1px solid red; color: red;">
                <%= error %>
            </article>
        <% } %>

        <form action="/auth/register" method="post">
          <label for="uname">Username</label>
          <input type="text" name="uname" id="uname" placeholder="Choose a username" required />
          
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Choose a password" required />
          
          <button type="submit">Create Account</button>
        </form>
        
        <p>Already have an account? <a href="/auth/login">Login here</a>.</p>
        <p><a href="/">Back to Home</a></p>
      </div>
    </main>
  </body>
</html>