<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>All Subgroups</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>All Subgroups</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <div class="container">
        <% if (subs.length === 0) { %>
            <p>No subgroups found.</p>
        <% } else { %>
            <ul>
              <% subs.forEach(sub => { %>
                <li>
                  <a href="/subs/show/<%= sub %>"><%= sub %></a>
                </li>
              <% }) %>
            </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>